body {
    min-height: 100vh;
    display: flex;
    background-color: #282c34;
    transition: all 0.2s linear;
    align-items: center;
}

.outline {
    border: solid red 1px;
}

.wrapper {
    padding-top: 1em;
    padding-bottom: 1em;
}

.card img {
    aspect-ratio: 1/1;
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
    align-self: center;
    transition: all 1s;
}

.card {
    background-color: #ffffff50;
    max-width: 300px;
    user-select: none;
    transition: all 0.2s linear;
    padding-top: 1em;
}

.col:hover.card {
    scale: 0.8;
    box-shadow: 0px 5px 10px;
}

.card:hover.card {
    background-color: #282c3400;
    color: #282c3400;
    outline: none;
    border: none;
}

.card:hover img {
    scale: 1.5;
    transform-origin: top;
    transition: all 0.5s;
}