body { 
    min-height: 100vh; 
    display: flex;
    background-color: #282c34;
    transition: all 0.2s linear;
    align-items: center;
}

.outline { 
    border: solid red 1px; 
}

.card img {
    aspect-ratio: 1/1;
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
    align-self: center;
}

.card {
    background-color: #ffffff50;
    max-width: 300px;
    user-select: none;
    transition: all 0.2s linear;
}

.card:hover {
    scale: 0.95;
    box-shadow: 0px 5px 10px;
}